{# this_file: examples/starter/overrides/main.html #}
{% extends "base.html" %}
{% block extrahead %}
  {{ super() }}
  <script src="https://i.fontlab.com/menu/fontlab.js" defer></script>
{% endblock %}
{% block header %}
  <fontlab-menu site-label="{{ config.site_name | e }}"
                site-url="{{ config.site_url | e }}"
                mobile-menu="materialx" mobile-search="materialx"></fontlab-menu>
  {{ super() }}
{% endblock %}
{% block footer %}
  {{ super() }}
  <fontlab-footer></fontlab-footer>
{% endblock %}
